@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    height: 100vh;
}

input, button{
    border: none;
}
p, input{
    height: 3vw;
    font-size: 1.3rem;
    padding: 0.2rem 0.7rem;
    margin: 0 0.1rem;
}
button{
    cursor: pointer;
    &.littleBtn{
        height: 3vw;
        padding: 0.2rem 0.7rem;
        font-size: 1.3rem;
        margin: 0 0.1rem;
        color: white;
    }
}

i{
    pointer-events: none;
}

.done{
    text-decoration: line-through;
    text-decoration-thickness: 0.2rem;
    opacity: 50%;
}
.show{
    animation: scale 0.3s ease forwards;
}
.disappear{
    animation: disappear 0.3s ease forwards;
}

header{
    height: 30vh;
    @include center();
    h1{
        color: white;
        font-size: 3rem;
    }
}
main{
    form{
        height: 20vh;
        @include center();
        flex-wrap: wrap;
        input{
            &#memo{
                width: 400px;
            }
        }
        button{
            &#today{
                background-color: blue;
            }
            &#nextDay{
                background-color: black;
            }
            &#add{
                background-color: green;
            }
        }
    }
    div.sort{
        display: flex;
        margin: 1rem;
        h2{
            width: 50%;
            text-align: end;
            color: white;
            font-size: 2.5rem;
            margin: 0 1rem;
        }
        button{
            border-radius: 15px;
            background-color: white;
            padding: 0.7rem;
            font-size: 1rem;
        }
    }
    section.todoList{
        padding: 1rem;
        @include center();
        flex-direction: column;
        div{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0.2rem 0;
            p{
                width: 350px;
                background-color: white;
                margin-top: 0.2rem;
                padding: 0.2rem 0.7rem;
                &:nth-child(2){
                    width: auto;
                }
                i{
                    margin-right: 0.5rem;
                    pointer-events:all;
                }
            }
            button{
                margin-top: 0.2rem;
                &.delete{
                    background-color: red;
                }
                &.finish{
                    background-color: darkgray;
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    p, input, button.littleBtn{
        height: 4vw;
    }
}
@media screen and (max-width: 650px) {
    p, input, button.littleBtn{
        height: 5vw;
            }
}
@media screen and (max-width: 550px) {
    p, input, button.littleBtn{
        height: 7vw;
    }
}

@keyframes scale {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes disappear {
    from{
        transform: scale(1);
    }to{
        transform: scale(0);
    }
}